body {background-color: #000000;
    font-family: consolas;
    font-size: 1.25rem;
    }

#maindiv {
    padding: 20px;
    font-size: 1.25rem;
    width: 960px;
    height:auto;
    }
#block_container {
  display: flex;

}

button {
    display: block;
    margin-top: 10px;
    font-family: consolas;
    }
H1 {
      color: #FFFFFF;
      font-family: consolas;
  }
H2 {
    color: #FFFFFF;
    font-family: consolas;
}
H3 {
  color: #FFFFFF;
  font-family: consolas;
}
p {
    color: #FFFFFF;
    font-family: consolas;
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
  }

.no-outline:focus {
    outline: none;
    font-family: consolas;
  }

.dark {
    font-family: consolas;
    }
.widthlimit {
    word-wrap: break-word;
    width: 960px;
}
.center {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: justify;
  color: #FFFFFF;
  font-family: consolas;
  line-height: 1.3;
}
.centerPrint {
  margin: auto;
  padding: 10px;
  text-align: justify;
  color: #000000;
  font-family: consolas;
  line-height: 1.3;
}
.indent {
  padding-left: 1.5em;
  text-indent:-1.6em; 
}
.about {
  width: 75%;
  padding-top: 2rem; 
  padding-right: 5rem; 
  padding-bottom: 5rem; 
  padding-left: 5rem; 
  text-align: left;
}



label {
    color: #FFFFFF;
    font-family: consolas;    
    }

input {
    color: #FFFFFF;
    font-family: consolas;
    font-size: 1.25rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #000000;
  }

  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  td {
    color: #FFFFFF;
    font-family: consolas;
    text-align: left;

  }
  pre {
    background: #000;
    color: white;
    font-family: monospace;
    padding: 1ch;
  }
  
