/*
  Perfect DOS VGA 437 font:
  https://portfolio.zehfernando.com/
*/

@font-face {
    font-family: "Perfect DOS VGA 437";
    src: url(https://manzdev.github.io/twitch-manzdev-bios/assets/perfect-dos-vga437.woff2) format("woff2");
  }

  body {
    background: #000;
    font-family: "Perfect DOS VGA 437", monospace;
    font-size: 22px;
    color: #888;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    transform: scale(0.6) translateY(-25%);
  }
  button {
    display: inline-block;
    height: 250px;
    padding: 0;
    width: 250px;
    background-color: transparent;
    border: transparent; 
    margin-top: 10rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#btn {
  text-align: center;
}
@keyframes flickerAnimation {
  30%   { opacity:1; }
  60%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  30%   { opacity:1; }
  60%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  30%   { opacity:1; }
  60%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  30%   { opacity:1; }
  60%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 3s infinite;
   -moz-animation: flickerAnimation 3s infinite;
   -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}
